<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>outprint</title>

</head>
<body>
    <h1>getRequestURI: <strong th:text="${getRequestURI}"></strong></h1>
    <h1>getContextPath: <strong th:text="${getContextPath}"></strong></h1>
    <h1>getRequestURL: <strong th:text="${getRequestURL}"></strong></h1>
    <h1>getServletPath: <strong th:text="${getServletPath}"></strong></h1>
</body>
</html>