<html lang="zh_CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/_layout}">
<head>

    <title>茶叶销售</title>
</head>

<body  th:with="navActive='sell'">

    <th:block layout:fragment="content">

        <div class="content-wrapper">
            <div class="content-heading">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-3">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-square btn-secondary active">
                                    <input type="radio" name="options" id="option1" checked> 交易正常
                                </label>
                                <label class="btn btn-square btn-secondary">
                                    <input type="radio" name="options" id="option2"> 交易异常
                                </label>
                                <label class="btn btn-square btn-secondary">
                                    <input type="radio" name="options" id="option3"> 交易作废
                                </label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="茶农姓名/证件号/批次号">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="button-addon2"><i class=" fa fa-search"></i> 搜索</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <button class="btn btn-square btn-secondary mr-2" data-toggle="modal" data-target="#filter-modal">筛选</button>
                            <a th:href="@{/demo/sell/edit}" class="btn btn-square btn-success"><i class=" fa fa-plus"></i>  新增</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- START card-->
            <div class="card mb-0">
                <!-- START table-responsive-->
                <div class="table-responsive">
                    <table id="mainTable">

                    </table>
                </div>

            </div>

        </div>

    </th:block>

    <th:block layout:fragment="footer">

        <div class="modal fade" id="filter-modal" tabindex="-1" >
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" >筛选条件</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">交易状态</label>
                                <div class="col-sm-10">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" checked> 所有
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2"> 交易正常
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3"> 交易异常
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3"> 交易作废
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">交易类型</label>
                                <div class="col-sm-10">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" checked> 所有
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2"> 现金交易
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3"> 转帐交易
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3"> 贷款交易
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">交易日期</label>
                                <div class="col-sm-10">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" checked>近三天
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2"> 本周
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3"> 三十天内
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3"> 本季
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary">确认</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal right fade" id="detal-modal">
            <div class="modal-dialog" style="width: 35rem;">
                <div class="modal-content">

                    <div class="card">
                        <div class="card-header text-white bg-primary p-4">
                            <h4>订单详情</h4>
                            <p>批次号：CG201908134875</p>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12 col-md-12">
                                <p class="lead bb">用户信息</p>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-4">茶农:</div>
                                        <div class="col-md-8"><strong>陈小芳</strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">手机号码:</div>
                                        <div class="col-md-8"><strong>1585715874</strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">证件号码:</div>
                                        <div class="col-md-8"><strong> 332528196911131423  </strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">住 址:</div>
                                        <div class="col-md-8"><strong>浙江省松阳县赤寿乡卯山后村64号 </strong></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <p class="lead bb">交易信息</p>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-4">茶叶:</div>
                                        <div class="col-md-8"><strong>碧螺春茶青</strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">交易方式:</div>
                                        <div class="col-md-8"><strong>自营</strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">数量(斤):</div>
                                        <div class="col-md-8"><strong> 27 </strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">单价(元/斤):</div>
                                        <div class="col-md-8"><strong>10 </strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">总计:</div>
                                        <div class="col-md-8"><strong>1580.88元 </strong></div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <p class="lead bb">支付信息</p>
                                <form class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-md-4">现金支付金额(元):</div>
                                        <div class="col-md-8"><strong>1000.00</strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">转帐支付金额(元):</div>
                                        <div class="col-md-8"><strong>258.00</strong></div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">贷款支付金额(元):</div>
                                        <div class="col-md-8"><strong>650.00</strong></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script th:src="@{/vendor/bootstrap-table/bootstrap-table.min.js}"></script>
        <script th:src="@{/vendor/bootstrap-table/bootstrap-table-zh-CN.min.js}"></script>
        <script>

            $(function(){


                $('#mainTable').bootstrapTable({
                    url: ctxPath + "/mock/transaction_data.json",
                    pagination: true,
                    pageSize: 20,
                    classes: 'table  table-hover table-borderless table-striped',
                    height: CLIENT_HEIGHT-150,
                    columns: [{
                        field: 'id',
                        title: '批次号'
                    }, {
                        field: 'user_name',
                        title: '茶农'
                    }, {
                        field: 'tea_name',
                        title: '茶叶'
                    }, {
                        field: 'unit_price',
                        title: '单价(元)'
                    }, {
                        field: 'number',
                        title: '数量(元)'
                    }, {
                        field: 'total_price',
                        title: '总价(元)'
                    }, {
                        field: 'pay_money',
                        title: '已付款',
                        formatter: function(value, row){


                            return row.pay_money + ' <span class="badge badge-primary">现</span><span class="badge badge-success">贷</span><span class="badge badge-danger">转</span>'

                        }
                    }, {
                        field: 'create_time',
                        title: '交易时间'
                    }]
                })
                    .on('click-row.bs.table', function (row, $element, field) {

                        $('#detal-modal').modal('toggle')
                    })

            })



        </script>
    </th:block>

</body>

</html>